@import url('styles.css');

.ph-x-circle {
    color: #2f2f2f;
}

.ph-check-circle {
    color: #30cbb0;
}

.ph-x-circle,
.ph-check-circle {
    font-size: 20px;
}

#passwordSteps {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.steps {
    display: flex;
    align-items: center;
    gap: .25rem;
}
/* 
#register {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 24rem;
    align-items: center;
    gap: 8px;
}

#register button#submit {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

#register button#submit:hover {
    background-color: rgba(0, 0, 0, 0.84);
} */
